body {
  background-color: black;
  background-image: url(eacb3cd19dd10505323bc8880a8500dc.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19548e;
  color: #fff;
  font-size: 1.8em; }

